h2{
    font-size: 30px;
    font-family: Helvetica;
    text-transform: uppercase;
}
#form-container{
    padding: 40px;
    background: #ea9143;
    min-height: 300px;
}
#selector{
    border: 4px dashed #fff;
    padding: 30px;
    text-align: center;
    color:#fff;
    cursor: pointer;
}
input[type='checkbox']{
    padding: 30px;
    width:10px height:10px;
}
div.row{
    padding: 30px;
}
input[type='checkbox']{
    display: none;
}
.watermark_label{
    color:white;
    font-size: 30px;
    font-family: Helvetica;
    text-transform: uppercase;
}
.watermark_label:before{
    margin-right: 20px;
    content:url('data:image/svg+xml; utf8, <svg id="Layer_1" style="" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">.st0{fill:#ea9143;}</style><g><polygon class="st0" points="434.8,49 174.2,309.7 76.8,212.3 0,289.2 174.1,463.3 196.6,440.9 196.6,440.9 511.7,125.8 434.8,49     "/></g></svg>');
    padding: 5px;
    margin: 5px;
    display:inline-block;
    border:6px solid ;
    width:30px; height:30px;
}
input[type='checkbox']:checked + .watermark_label:before{
    background-color: #fff;
}
.btn{
     border: 2px solid #ea9143;
    border-radius: 0;
    box-sizing: border-box;
    color: #8ec152;
    display: block;
    height: 58px;
    line-height: 58px;
    margin-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    background: #fffffe linear-gradient(to bottom, #fffffe 0%, #f6f6f7 100%) repeat scroll 0 0;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #ea9143;
    width:100%;
}