{% extends "layout.html.twig" %}

{% block content %}
    
    <div id="form-container">
    {{ form_start(form, {'attr': {'id': 'form_generator'}}) }}
    <div id="selector" onclick="document.getElementById('form_filename').click()" ><h2>add csv/xls file</h2></div>
        {{ form_widget(form.filename) }}

        <div class="row">
            {{ form_widget(form.watermark) }}
            {{ form_label(form.watermark) }}
        </div>
    {{ form_end(form) }}
    </div>
    
    <script>
        document.getElementById('form_filename').onchange = function() {
            document.getElementById('form_generator').submit();
        }
    </script>

{% endblock %}