<!DOCTYPE html>
<html>
    <head>
        <title>Postepic generator</title>

        <link href="/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
